alabaster
appdirs
appnope
asn1crypto
attrs
Babel
backcall
bidict
biosppy
black
bleach
cached-property
certifi
cffi
chardet
Click
cloudpickle
coloredlogs
cryptography
cycler
cytoolz
dask
decorator
dlib
docutils
entrypoints
fastcache
Flask
future
getch
gmpy2
graphviz
h5py
html5lib
humanfriendly
idna
imageio
imagesize
imutils
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab
jupyterlab-launcher
jupyterlab-server
kiwisolver
labjack-ljm
llvmlite
lxml
MarkupSafe
matplotlib
mistune
mpld3
mpmath
mutagen
nbconvert
nbformat
networkx
nolds
notebook
numba
numpy
numpydoc
olefile
opensignalsreader
packaging
pandas
pandas-profiling
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pybind11
pycparser
Pygments
PyMatting
pyOpenSSL
pyparsing
pyserial
PySocks
python-dateutil
python-xmp-toolkit
pytz
PyWavelets
PyYAML
pyzmq
requests
scikit-learn
scikit-image
scipy
seaborn
Send2Trash
shortuuid
simplegeneric
six
snowballstemmer
spectrum
Sphinx
sphinxcontrib-websupport
statsmodels
sympy
terminado
testpath
tifffile
toml
toolz
tornado
tqdm
traitlets
trianglesolver
typed-ast
typing
urllib3
waitress
wcwidth
webencodings
Werkzeug
widgetsnbextension
XlsxWriter
xmltodict
# modules with certain version numbers
redis==4.1.0
opencv-python==4.5.5.62
opencv-contrib-python==4.5.5.62